extends layout

block content
    .row.justify-content-center
        .col-12-auto.mt-3
            a(href="/createCharter").btn.btn-primary Create Charter
    hr
    if charters.length
        table.table.table-striped.table-hover
            thead.thead-dark
                tr
                    th(scope="col") Charter
                    th(scope="col") Current Asignee
                    th(scope="col") Sessions
                    th(scope="col") To Debrief
                    th(scope="col") Command 
            tbody
                each charter in charters
                    tr
                        td= charter.charter
                        td= charter.asignee
                        td= charter.sessions.length
                        if charter.sessions.length
                            td= charter.sessions.length
                        else
                            td
                        td
                            a(href="/charterPage/?id=" + charter.id).btn.btn-info Open
    else
        .row.justify-content-center
            .col-12-auto-mt-3
                p Still no charters to show